p {
    float: left;
    font-weight: 600;
    padding-right: 10px;
}

div.col-md-3, div.col-md-4, div.col-md-5, div.col-xs-2, div.col-xs-3{
    padding-left: 0;
}

#chooseClassDiv{
    margin: 0 auto;
    display: block;
    text-align: center;
    float: right;
}

.jumbotron {
    background-image: url(img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;    
    opacity: 0.6;
}

h1 {
    color: red !important;
    text-align: center;
    font-size: 1.6em;
    padding-top: 18%;
    overflow: visible;
}

.characterName {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

.rollButton {
	display: block;
	text-align: center;
    margin-left: 5px;
    width: 100%;
    padding-left: 0;
   
   
}

.buttonLine1, .buttonLine2{
	padding-bottom: 5px;
	padding-top: 5px;    
}


.showResult{
    margin-left: 10%;
}

.charPortrait{
    max-width: 60%;
    margin: 0 auto;
    display: block;
    
}